<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Applications">
        <menu id="internet" label="Internet">
            <item label="Firefox">
                <action name="Execute">
                    <execute>firefox</execute>
                </action>
            </item>
        </menu>
        <separator />
        <item label="Terminal">
            <action name="Execute">
                <execute>xterm</execute>
            </action>
        </item>
        <separator />
        <menu id="editors" label="Editors">
            <item label="NeoVim">
                <action name="Execute">
                    <execute>xterm -e nvim</execute>
                </action>
            </item>
        </menu>
        <separator />
        <menu id="accessories" label="Accessories">
            <item label="Calculator">
                <action name="Execute">
                    <execute>galculator</execute>
                </action>
            </item>
        </menu>
        <separator />
        <menu id="multimedia" label="Multimedia">
            <item label="MPlayer">
                <action name="Execute">
                    <execute>mplayer</execute>
                </action>
            </item>
        </menu>
        <separator />
        <menu id="files" label="File Manager">
            <item label="Dolphin">
                <action name="Execute">
                    <execute>dolphin</execute>
                </action>
            </item>
        </menu>
        <separator />
        <item label="Reconfigure Openbox">
            <action name="Reconfigure" />
        </item>
    </menu>
</openbox_menu>
